/* header */
.header {
    background-color: #2A9D8F;
    padding: 38px 130px;
    margin: 0 auto;
}

.header_logo {
    display: inline-block;
    border-radius: 25px;
    background-color: #FFF;
    padding: 10px 12.614px 10px 13px;
}

.header_list {
    display: inline-block;
}

.nav,
.header_logo {
    display: inline-block;
    vertical-align: middle;
}

.nav {
    font-family: 'Nerko One', cursive;
    padding-left: 861px;
}
.header_link{
    color: #FFF;
}

.mid_header {
    padding-left: 51px;
    padding-right: 51px;
}

/* article */
.article {
    width: 780px;
    margin: 200px auto;
}

.article_header {
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
    font-size: 48px;
    text-align: center;
}

.article_txt {
    font-family: 'Nerko One', cursive;
    color: #656565;
    font-size: 20px;
}

.article_mid {
    margin: 60px 0 52px 0;
}

/* section */
.section {
    width: 1440px;
    margin: 0 auto;
    background-color: #C2F3EE;
}

.section_img {
    width: 600px;
    height: 560px;
    padding: 80px 0 80px 130px;
}

.section_article {
    padding-top: 80px;
    padding-left: 120px;
}

.section_header {
    color: #272727;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.section_txt {
    color: #515151;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    line-height: 27px;
    width: 457px;
    padding-top: 27px;
    padding-bottom: 45px;
    letter-spacing: 0.09px;
}

.section_img,
.section_article {
    vertical-align: top;
    display: inline-block;
}

.button {
    padding: 11px 16px;
    background-color: #2A9D8F;
}

/* section2 */
.section2 {
    width: 1180px;
    margin: 200px auto;
}

.div {
    display: inline-block;
}

.left_div {
    margin-right: 16px;
}

.div_txt {
    color: #535353;
    font-size: 24px;
    margin-top: 32px;
}

/* footer */
.footer {
    padding: 90px 130px;
    margin: 0 auto;
    background-color: #2A9D8F;
}

.footer_logo {
    padding: 22px 27.359px 21.621px 28px;
    border-radius: 50px;
    border: 3px solid #FFF;
}
.footer_article{
    padding-left: 934px;
}
.footer_logo, .footer_article{

    display: inline-block;
    vertical-align: top;
}
.f_header{
    font-size: 20px;
    color: #FFF;
    padding-bottom: 21px;
}
.link{
    font-size: 18px;
    color: #FFF;
}
.middle_space{
    padding-top: 8px;
    padding-bottom: 8px;
}